<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main role="main">
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article reveal">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <div class="article-list-footer">
              <span class="article-list-date">
                {{ page.date | date: "%B %-d, %Y" }}
              </span>
              <span class="article-list-divider">-</span>
              <span class="article-list-minutes">
                {% capture words %}
                  {{ page.content | number_of_words }}
                {% endcapture %}
                {% unless words contains "-" %}
                  {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
                {% endunless %}
              </span>
              <span class="article-list-divider">-</span>
              <div class="article-list-tags">
                {% for tag in page.tags %}
                  <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </header>

          <div class="article-content">
            {{ content }}
          </div>

          <hr>
          
          {% if site.donate_enabled %}
          <div class="article-donate">
            <h2><i class="fa fa-coffee" aria-hidden="true"></i></h2>
            <img src="/assets/images/alipay.png" alt="支付宝" />
            <img src="/assets/images/wechat.png" alt="微信" />
          </div>
          {% endif %}

          {% if site.social.twitter %}
          <div class="article-share">
            <i>Share this by:
              {% assign page_title = page.title  | truncate '110' %}
              {% capture twitter_msg %}{{ page_title }} - {{ page.url | absolute_url }} by @{{ site.social.twitter }}{% endcapture %}
              <a href="" title="Share on Twitter" onclick="window.open('https://twitter.com/home?status={{ twitter_msg }}', 'newwindow', 'width=500, height=225'); return false;">
                <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
              </a>
            </i>
          </div>
          {% endif %}

          {% if site.discus_identifier %}
            <div id="disqus_thread"></div>
            <script>
              (function() {
                  var d = document, s = d.createElement('script');
                  s.src = '//{{ site.discus_identifier }}.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
</body>
</html>
